<ion-content class="intro" padding>
  <h1>WELCOME</h1>
  <p>This simple app allows you to keep track of how much time you spend on daily tasks</p>
  <p>You can manage several concurrent tasks across several projects</p>
  <p>If you mess up... No worries! Edit a task to clarify the work periods</p>
  <p>This app will always be 100% free and will never monitor you!</p>
  <h2>USER EXPERIENCE NOTES</h2>
  <p>WHAT!? An explanation of how to interact with an app? This is an engineer created app so I want to give somes notes
    in case things are not intuitive.</p>
  <p>To edit a task slide it to the left, and click on the edit button</p>
  <img src="assets/img/slide.png"/>
  <p>To delete / complete a timer swipe to the right</p>
  <p>To pause / resume a timer just click on it</p>
  <p>The Icon
    "
    <ion-icon name="ios-add"></ion-icon>
    "
    is used to add a new timer or project
  </p>
  <p>So Simple!</p>


  <button ion-button full (click)="dismiss()">LET ME GET STARTED!</button>
</ion-content>
